﻿body {
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 100px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 60%;
}

.button {
    border-radius: 10px;
    color: #000000;
    float: right;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    padding-right: 50px;
}

    .button:hover,
    .button:focus {
        color: #f00;
        text-decoration: none;
        cursor: pointer;
    }
