﻿@model Shop_Repository.Inventory

@{
    ViewBag.Title = "Հեռացնել";
    var sizemessage = @Model.Size != "" ? $"\"{Model.Size}\" չափի" : null;
}


<h3 style="color:red">Ցանկանու՞մ եք հեռացնել բոլոր @sizemessage @Model.Product_Code ապրանքները պահեստից</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.LabelFor(model => model.Product.Color, "Գույն")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Color)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Quantity, "Քանակ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Վերադառնալ պահեստ", "Index")
            <input type="submit" style="position:relative; left: 50px; color: red;" value="Հեռացնել" class="btn btn-default" /> 
        </div>
    }
</div>
