﻿@model PagedList.IPagedList<Shop_Repository.Inventory>
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Պահեստ";
}
<h2>Պահեստ</h2>
<br />
<table class="table" sty>
    <tr>
        <th>
            Կոդ
        </th>
        <th>
            Անվանում
        </th>
        <th>
            Գույն
        </th>
        <th>
            Գին
        </th>
        <th>
            Նկարագրություն
        </th>
        <th>
            Չափ
        </th>
        <th>
            Քանակ
        </th>
    </tr>


    @foreach (var item in Model)
    {

        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Product_Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @* @Html.ActionLink("zzz", "Delete", new { code = item.Product_Code, size = item.Size })*@

                <a id="myBtn" style="cursor: pointer;" onclick="popup(this)">Հեռացնել</a>
                @using (Html.BeginForm("Delete", "Home", new { code = item.Product_Code, size = item.Size }))
                {
                    <div id="popup" class="modal">
                        <div class="modal-content">
                            <p id="question"></p>
                            <input type="button" name="close" class="button" value="Ոչ" style="position:relative; left: 10px; " />
                            <input type="submit" name="delete" class="button" value="Այո" />
                        </div>
                    </div>
                }

            </td>

        </tr>
    }


</table>

<br />
<br />

Էջ @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)-ը  @Model.PageCount-ից
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))




<script>


    function popup(x) {
        $("#popup").css("display", "block");
        var code = x.parentNode.parentNode.getElementsByTagName("td")[0].innerHTML;
        var size = x.parentNode.parentNode.getElementsByTagName("td")[5].innerHTML;
        var name = x.parentNode.parentNode.getElementsByTagName("td")[1].innerHTML;
        var color = x.parentNode.parentNode.getElementsByTagName("td")[2].innerHTML;
        var qty = x.parentNode.parentNode.getElementsByTagName("td")[6].innerHTML;

        var message
        if (size.trim() == "") {
            message = "<span style='color: red; font-size: 18px;'>Ցանկանու՞մ եք հեռացնել բոլոր<span style='color: black'>" +
                code + "</span>ապրանքները պահեստից</span>";
        }
        else {
            message = "<span style='color: red; font-size: 18px;'> Ցանկանու՞մ եք հեռացնել բոլոր<span style='color: black'>" +
                size + "</span>չափի<span style='color: black'>" + code + "</span>ապրանքները պահեստից</span>";
        }
        document.getElementById("question").innerHTML = message + "<hr/><dl><dt>Անվանում:" + name + "</dt><dt>Գույն:" +
            color + "</dt><dt>Քանակ:" + qty + "</dt></dl>"

    }




    $("[name = 'close']").click(function () {
        $("#popup").css("display", "none");
    })

    var modal = document.getElementById("popup")
    $(document).ready(function () {
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    })



</script>

<link href="~/Content/popup.css" rel="stylesheet" />


