﻿@model Shop_Repository.Inventory

@{
    ViewBag.Title = "Շարժ";
}

<h2>Մուտք/Վաճառք</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Product_Code, "Կոդ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Product_Code", new SelectList(ViewBag.Codes), "",
               new { @class = "form-control", @data_val = "true", @data_val_required = "\"Կոդ\" դաշտը դատարկ է" })
                @Html.ValidationMessageFor(model => model.Product_Code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="details"></div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.Product.Name, "Անվանում", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Name", new SelectList(ViewBag.Names), "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Product.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Product.Color, "Գույն", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Product_Code", new SelectList(ViewBag.Colors), "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Product.Color, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Size, "Չափ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Size, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Size, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, "Քանակ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", @data_val_required = "\"Քանակ\" դաշտը դատարկ է", min = "1"} })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Մուտք" class="btn btn-default" formaction="Purchase" />
                <input type="submit" value="Վաճառել" class="btn btn-default" formaction="Sell" />
            </div>
        </div>
    </div>
}



<div>
    @Html.ActionLink("Վերադառնալ պահեստ", "Index")
    @ViewBag.Message
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

