﻿@model Shop_Repository.Product

@{
    ViewBag.Title = "Նոր ապրանքատեսակ";
}

<h2 style="color:#007aff">Ավելացնել նոր ապրանքատեսակ</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Code, "Կոդ", htmlAttributes: new { @class = "control-label col-md-2"})
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Code,"", new { htmlAttributes = new { @class = "form-control"} })*@
                <input class="form-control text-box single-line" id="Code"  type="text" name="Code" value="" data-val ="true" data-val-required = "'Կոդ' դաշտը դատարկ է" maxlength="4"/>
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, "Անվանում", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })*@
                <input class="form-control text-box single-line" id="Name" type="text" name="Name" value="" data-val ="true" data-val-required = "'Անվանում' դաշտը դատարկ է" />
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Color, "Գույն", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Color, new { htmlAttributes = new { @class = "form-control"}})*@
                <input class="form-control text-box single-line" id="Color" type="text" name="Color" value="" />
                @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, "Գին", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @type = "number"  } })*@
                <input class="form-control text-box single-line" id="Price" type="number" name="Price" value="" min="0"/>
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, "Նկարագրություն", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })*@
                <input class="form-control text-box single-line" id="Description" type="text" name="Description" value="" />
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ավելացնել" style="color: #6d9d3c; position:relative; left: 183px; top: 30px;" class="btn btn-default" />
            </div>
            <div style="position:relative; left: 260px; top: 45px;">
                <p style="color: #4cff00">
                    @ViewBag.Message
                </p>
               
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Դիտել ապրանքատեսակների ցանկը", "GetProducts", "Product")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


