﻿@model IEnumerable<Shop_Repository.Product>

@{
    ViewBag.Title = "Ապրանքատեսակներ";
}

<h2>Ապրանքատեսակներ</h2>

<p>
    @Html.ActionLink("Ստեղծել նորը", "Create")
</p>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<table class="table">
    <tr>
        <th>
            Կոդ
        </th>
        <th>
            Անվանում
        </th>
        <th>
            Գույն
        </th>
        <th>
            Գին
        </th>
        <th>
            Նկարագրություն
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Փոփոխել", "Edit", new { code = item.Code }) |
                @Html.ActionLink("Հեռացնել", "Delete", new { code = item.Code })
            </td>
        </tr>
    }

</table>
